1.pretrain/__pycache__/*
1.pretrain/MNIST/*
2.train/__pycache__/*
2.train/MNIST/train/*
3.posttrain/__pycache__/*
3.posttrain/MNIST/*
4.pruning/__pycache__/*
4.pruning/MNIST/*
requirement/__pycache__/*
test/__pycache__/*
*.pyc
*.swp
*.swn
*.swo
